#box {
  height: 250px;
  width: 250px;
  background-color: red;
  border: 2px solid black;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
}

#allInone {
  display: none;
}

#fourBorder {
  display: none;
}

#eightBorder {
  display: none;
}

#clipboard {
  display: none;
}
